<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rstankov.prompt-box</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1940A409-66A6-4EA3-B64D-C83EBE0B1151</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A387402C-725D-4159-9382-1FFAD9167F11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60B210CD-3555-421E-A8B6-39D9D1315A93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0F00DB8-879D-4105-83D7-21BEA590F974</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>↩  Copy</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9537DD12-92D6-491A-8BE4-0384AD72F693</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>969C8627-7AB5-4ACF-8126-13F7E6D9D26D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9638B5C9-2218-4AF8-B7B3-3ABE893742E6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Run with clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9638B5C9-2218-4AF8-B7B3-3ABE893742E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60B210CD-3555-421E-A8B6-39D9D1315A93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>969C8627-7AB5-4ACF-8126-13F7E6D9D26D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60B210CD-3555-421E-A8B6-39D9D1315A93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0F00DB8-879D-4105-83D7-21BEA590F974</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Radoslav Stankov</string>
	<key>description</key>
	<string>Trigger LLM prompts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PromptBox</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>prompt_box_prompt_title</key>
					<string>{query}</string>
					<key>selected_text</key>
					<string>dadas</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>969C8627-7AB5-4ACF-8126-13F7E6D9D26D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string>./bin/run.rb</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string>Loading...</string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>2</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>60B210CD-3555-421E-A8B6-39D9D1315A93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby ./bin/copy.rb "$prompt_box_output"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B0F00DB8-879D-4105-83D7-21BEA590F974</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>p</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>ruby ./bin/search.rb "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>PromptBox</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9537DD12-92D6-491A-8BE4-0384AD72F693</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>prompt_box_prompt_title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9638B5C9-2218-4AF8-B7B3-3ABE893742E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby ./bin/edit.rb</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A387402C-725D-4159-9382-1FFAD9167F11</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>prompts edit</string>
				<key>subtext</key>
				<string>prompts edit</string>
				<key>text</key>
				<string>PromptBox - Edit prompt file</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1940A409-66A6-4EA3-B64D-C83EBE0B1151</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1940A409-66A6-4EA3-B64D-C83EBE0B1151</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>60B210CD-3555-421E-A8B6-39D9D1315A93</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>9537DD12-92D6-491A-8BE4-0384AD72F693</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>9638B5C9-2218-4AF8-B7B3-3ABE893742E6</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>969C8627-7AB5-4ACF-8126-13F7E6D9D26D</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>A387402C-725D-4159-9382-1FFAD9167F11</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>B0F00DB8-879D-4105-83D7-21BEA590F974</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>OpenAI API key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>openai_api_key</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/RStankov/PromptBox</string>
</dict>
</plist>
